<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- 连接数据库的相关信息 -->
	<!-- oracle config -->
<!-- 		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property> -->
<!-- 		<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property> -->
<!-- 		<property name="connection.username">king</property> -->
<!-- 		<property name="connection.password">king999</property> -->
<!-- 		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property> -->


	<!-- mysql config -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test_db</property>
		<property name="connection.username">test</property>
		<property name="connection.password">test</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>


		<!-- 设置hibernate的相关属性值 -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="current_session_context_class">thread</property>
		
		<!-- 设置事务的隔离级别
			read-uncommitted: 1 
			read-committed: 2 
			repeatable-read: 4 
			serializable: 8 
			oracle数据库只支持2 8 -->
		<property name="connection.isolation">2</property>

		<!-- 配置使用二级缓存 -->
		<property name="cache.use_second_level_cache">true</property>
		<!-- 配置二级缓存的实现类/提供者 -->
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
<!-- 		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
		<!-- 配置使用查询缓存 他依赖于二级缓存的使用 -->
		<property name="cache.use_query_cache">true</property>
		<property name="connection.pool_size">1</property>
		<!-- 没有提示了怎么办? -//Hibernate/Hibernate Configuration DTD 3.0//EN :key 
			<property name="hbm2ddl.auto">update</property> 
			<property name="hbm2ddl.auto">validate</property> 
		-->
		<!-- 
			<mapping resource="com/briup../../...hbm.xml" /> 
			<mapping resource="bean/Student.hbm.xml"/> 
		-->

		<!--添加映射文件的(xxx.hbm.xml)路径 -->
			<mapping resource="Estore/Estore.hbm.xml"/> 
		<!-- 
			<mapping resource="Estore/Book.hbm.xml"/> 
			<mapping resource="Estore/Order.hbm.xml"/> 
			<mapping resource="Estore/Customer.hbm.xml"/> 
			<mapping resource="Bean/Student.hbm.xml"/>
			<mapping resource="Component/Person.hbm.xml"/> 
			<mapping resource="Composite/Person.hbm.xml"/> 
			<mapping resource="Inherite/Inherite1.hbm.xml"/> 
			<mapping resource="Inherite/Inherite2.hbm.xml"/> 
			<mapping resource="Inherite/Inherite3.hbm.xml"/> 
			<mapping resource="orm/o2o/Husband.hbm.xml"/> 
			<mapping resource="orm/o2o/Wife.hbm.xml"/> 
			<mapping resource="orm/o2m/User.hbm.xml"/> 
			<mapping resource="orm/o2m/Group.hbm.xml"/> 
			<mapping resource="orm/m2m/Student.hbm.xml"/> 
			<mapping resource="orm/m2m/Teacher.hbm.xml"/> 
			<mapping resource="criteria/Husband.hbm.xml"/> 
			<mapping resource="criteria/Wife.hbm.xml"/> 
			<mapping resource="hql/User.hbm.xml"/> 
			<mapping resource="hql/Group.hbm.xml"/> 
			<mapping resource="lock/Husband.hbm.xml"/> 
			<mapping resource="lock/Wife.hbm.xml" /> 
		<mapping resource="cache/Husband.hbm.xml" />
		<mapping resource="cache/Wife.hbm.xml" />
		-->
	</session-factory>



</hibernate-configuration>